.container{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, #363062 0%, #4D4C7D 100%);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container h2 {
    font-family: Roboto;
    font-weight: 500;
    color:#F99417;
    font-size: 3rem;
}